//Variabler, mixins osv
//Färgkoder i variabler, styling på texter, textstorlekar osv.

// Färgvariabler
$button-color: #ff7644;
$button-hover-color: #ff5f25;
$background-color-main: #f7ebe6;
$background-color-form: #f8f8f8;
$border-color: #ccc;
$header-footer-color: #5a6f64;
$header-footer-text-color: #c7c7c7;
$spinner-blue: #3498db;
$spinner-grey: #f3f3f3;
$white: #fff;